flow.json
[{"id":"4fc5a960.e6e4e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f70a0a8.d9474","type":"http request","z":"4fc5a960.e6e4e8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["c213dcae.d8546"]]},{"id":"c213dcae.d8546","type":"debug","z":"4fc5a960.e6e4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":80,"wires":[]},{"id":"c9e0d4b.d68a828","type":"inject","z":"4fc5a960.e6e4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[[]]},{"id":"c0fe407d.4bd63","type":"change","z":"4fc5a960.e6e4e8","name":"","rules":[{"t":"set","p":"toggle","pt":"global","to":"1 - $globalContext(\"toggle\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"toggle\") = 0 ? \"off\" : \"on\"","tot":"jsonata"},{"t":"set","p":"unitcode","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"url","pt":"msg","to":"\"http://192.168.1.6:5001/send?protocol=brennenstuhl&\"&payload&\"=1&systemcode=1&unitcode=\"&unitcode","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["7f70a0a8.d9474"]]},{"id":"24ebf069.d95ef","type":"inject","z":"4fc5a960.e6e4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["2eb5e998.91ba76"]]},{"id":"2eb5e998.91ba76","type":"change","z":"4fc5a960.e6e4e8","name":"","rules":[{"t":"set","p":"toggle","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[[]]}]